<h1 style="color: rgb(211, 137, 0);">Producer-Consumer</h1>
<div class="outer-circle">
  <div class="inner-circle"></div>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <input
      type="text"
      class="time"
      v-model="today"
      placeholder="Processing Time "
      disabled
      id="processStart"
  />
</div>
<label for="items" style="font-size: larger; font-style: italic;font-weight: bold; color:#2d1a85">Number of products</label>
<input class="item" id="items" type="number" placeholder="0">
<p></p>
<button class="btt" (click)="start()" >Start simulation</button>
<button class="btt">Stop</button>
<button class="btt">replay</button>
<button (click)="queueselected()" class="btt"style=" " >Queue</button>
<button (click)="machine()" class="btt">Machine</button>
<button (click)="connector()" class="btt">connector</button>
<button (click)="clear()" class="btt">clear</button>
<button (click)="undo()" class="btt">Undo</button>
<button (click)="move()" class="btt">Move</button>


<svg (click)="selectedplace($event)"  style="position: absolute; left:0; top:200px; border: solid #2d1a85;width:1520px ;height:500px"  >
  <defs>
    <marker id="arrowhead" markerWidth="10" markerHeight="7" style=" stroke:rgb(0, 0, 0);"
    refX="2" refY="3.5" orient="auto">
      <polygon points="0 0, 2 3.5, 0 7" style=" fill:rgb(0, 0, 0)" />
    </marker>
  </defs>
  

  <ng-container *ngFor="let shape of shapes">
    <g *ngIf="shape.type=='rect'" >
    <rect id={{shape.id}} class="shape" *ngIf="shape.type=='rect'" 
   [attr.x]="shape.x" 
   [attr.y]="shape.y" 
   [attr.width]="shape.w"       
   [attr.height]="shape.h"
   fill="blue"></rect>
   <text [attr.x]="shape.x+15" 
   [attr.y]="shape.y+20" >{{shape.id}}</text>
    </g>
    <g *ngIf="shape.type=='circle'" >
   <circle #circle  id={{shape.id}} class="shape" *ngIf="shape.type=='circle'"
   [attr.r]="shape.w"
   [attr.r]="shape.h"
   [attr.cx]="shape.x"
   [attr.cy]="shape.y" 
   fill="green"></circle>
   <text [attr.x]="shape.x-11" 
   [attr.y]="shape.y+5" >{{shape.id}}</text>
   </g>
   <line  id={{shape.id}} class="shape"  *ngIf="shape.type=='line'"
   [attr.x1]="shape.x" 
   [attr.y1]="shape.y" 
   [attr.x2]="shape.w"       
   [attr.y2]="shape.h"
   marker-end="url(#arrowhead)"
   style="stroke: rgb(0, 0, 0);
   stroke-width:2">
    </line>
  </ng-container>  
</svg>